<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- 
		Bean Inheritance
		[
			creating one bean as abstract bean
			other traingle beans will inherit from this 
		]
	 -->
	<bean id="parentTriangle" class="com.shashi.shapes.Triangle">
		<property name="pointA" ref="pointA"/>
	</bean>
	 
	<bean id="triangle1" class="com.shashi.shapes.Triangle" parent="parentTriangle">
		<property name="pointB" ref="pointB"/>
		<property name="pointC" ref="pointC"/>
	</bean>
	
	<bean id="triangle2" class="com.shashi.shapes.Triangle" parent="parentTriangle">
		<property name="pointB" ref="pointB"/>
		<!-- if i wont add this here, i'll get a NPE when accessing this object's third Point reference -->
		<property name="pointC" ref="pointA"/>
	</bean>
	
	
	<!-- Can be referenced anywhere -->
	<bean id="pointA" class="com.shashi.shapes.point.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	
	<bean id="pointB" class="com.shashi.shapes.point.Point">
		<property name="x" value="-20"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="pointC" class="com.shashi.shapes.point.Point">
		<property name="x" value="0"/>
		<property name="y" value="20"/>
	</bean>
	
	<!-- ALIAS -->
	<alias name="triangle" alias="triangle-alias"/>
</beans>