<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.shashi.shapes.Triangle" >
		<!-- 
			won't work without a default constructor in Traingle class
		 -->
		<constructor-arg type="int" value="35"/>
		<constructor-arg type="java.lang.String" value="Isosceles"/>
	</bean>
</beans>